
font {


}


body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: bisque;

}

.finance-form label, .finance-form input, .finance-form select, .finance-form button {
    margin-bottom: 10px;
}



