    <!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Fianance tracker - Charts </title>
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/AboutUs.css}"/>
        <link href="/css/Home.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <link rel="icon" href="/Images/favicon/favicon-32x32.png"/>
        <script src="https://www.gstatic.com/charts/loader.js"></script>

        <script th:inline="javascript" type="text/javascript">


            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});

            // Set a callbacks to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(barChart);
            google.charts.setOnLoadCallback(lineChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Expenses');
                data.addColumn('number', 'Data');
                data.addRows([
                    ['Bill', 3],
                    ['Entertainment', 1],
                    ['Education', 1],
                    ['Travel', 2],
                ]);

                // Set chart options
                var options = {'title':'Expenses Chart Data',
                    'width':400,
                    'height':300};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
            // Callback that creates and populates a data table,
            // instantiates the bar chart, passes in the data and
            // draws it.

            function barChart () {
                //Create the datatable
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows([
                    ['Mushrooms', 3],
                    ['Onions', 1],
                    ['Olives', 1],
                    ['Zucchini', 1],
                    ['Pepperoni', 2]
                ]);

                //Set chart options

                var options = {'title': 'How Much Pizza I Ate Last Night',
                    'width' : 500,
                    'height': 300};

                //Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('barchart'));
                chart.draw(data, options);

            }

            function lineChart () {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'slices');
                data.addRows([
                    ['Mushrooms', 3],
                    ['Onions', 1],
                    ['Olives', 1],
                    ['Zucchini', 1],
                    ['Pepperoni', 2]
                ]);

                //Set chart options

                var options = {
                    'title': 'How Much Pizza I Ate Last Night',
                    'width' : 500,
                    'height': 300
                };

                //Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('linechart'));
                chart.draw(data, options);

            }

        </script>


    </head>
    <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">

        <header class="navbar bg-body-tertiary" data-bs-theme="light" style="margin-right: 3rem;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/Images/manager-icon.png" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    Fintrack - Finance Tracker
                </a>
            </div>
        </header>
        <a class="btn btn-light btn-group-sm" style="height: 5%; width: 5%; float: right;" data-bs-toggle="offcanvas"
           href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <img src="/Images/hamburger.png" style="height: 100%; width: 100%;" alt="Menu">
        </a>

        <nav class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasExampleLabel" style="text-align: center">Menu</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="container-fluid">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="btn btn-outline-secondary btn-lg" style="width: 100%" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="list-group-item">
                            <a class="btn btn-outline-secondary btn-lg" style="width: 100%" aria-current="page" href="#">Charts</a>
                        </li>

                        <li class="list-group-item">
                            <a class="btn btn-outline-secondary btn-lg" style="width: 100%" aria-current="page"
                               href="AboutUs">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


    </nav>
    <section class="navbar bg-primary" style="background-color: #e3f2fd;"></section>

    <div class="mt-4 container">
        <div class="row">
            <div class="col">

                <header>
                    <h1>Charts</h1>
                </header>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                         data-fa-i2svg="" style="height: 2%; width: 2%;">

                        <path fill="currentColor"
                              d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm96 288H448c17.7 0 32-14.3 32-32V251.8c0-7.6-2.7-15-7.7-20.8l-65.8-76.8c-12.1-14.2-33.7-15-46.9-1.8l-21 21c-10 10-26.4 9.2-35.4-1.6l-39.2-47c-12.6-15.1-35.7-15.4-48.7-.6L135.9 215c-5.1 5.8-7.9 13.3-7.9 21.1v84c0 17.7 14.3 32 32 32z">
                            Barchart
                        </path>

                    </svg>

                    </div>


                    <div class="card-body">

                        <div id="barchart" style="width: 400px; height:300px"></div>

                    </div>

            </div>
            </div>

            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">

                        <svg class="svg-inline--fa fa-chart-bar me-1" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="chart-bar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                             data-fa-i2svg="" style="height: 2%; width: 2%;">

                            <path fill="currentColor"
                                  d="M32 32c17.7 0 32 14.3 32 32V400c0 8.8 7.2 16 16 16H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-44.2 0-80-35.8-80-80V64C0 46.3 14.3 32 32 32zm96 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32zm32 64H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H160c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 96H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H160c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
                                Piechart
                            </path>

                        </svg>


                    </div>
                    <div class="card-body">
                        <div id="piechart" style="width: 400px; height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="card mb-4">
                <div class="card-header">

                    <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                         data-fa-i2svg="" style="height: 2%; width: 2%;">
                        <path fill="currentColor"
                              d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z">
                            Linechart
                        </path>

                    </svg>

                </div>

                    <div class="card-body">

                        <div id="linechart" style="width: 400px; height: 300px;"></div>

                    </div>


            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </body>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Finance Tracker 2024</span>
            </div>
        </div>
    </footer>
    </html>